* {
    box-sizing: border-box
    
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #17202a;
    background: #fff
}

.topbar {
    height: 32px;
    background: #111a20;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;

}

.nav {
    height: 88px;
    background: #111a20;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0 1%;
}

.logo {
    font-size: 35px;
    font-weight: 900;
    line-height: .75;
    color: #fff
}

.logo span {
    color: #ffc400
}

.logo small {
    display: block;
    font-size: 12px;
    margin-left: 34px;
    margin-top: 10px;
    
    
}

.search {
    display: flex;
    flex: 1;
    max-width: 560px
}

.search input {
    width: 100%;
    padding: 16px 70px;
    border: 0;
    border-radius: 7px 0 0 7px;
    font-size: 14px;
    margin-left: 100px;
    
}

.btn-pedido {
  display: inline-block;
  padding: 10px 18px;
  background-color: #ff7a00;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.2s ease;
}

.btn-pedido:hover {
  transform: translateY(-2px);
  background-color: #e66d00;
}

.search button {
    width: 58px;
    border: 0;
    background: #ffc400;
    font-size: 25px;
    border-radius: 0 7px 7px 0
}

.nav-actions {
    font-weight: 700;
    white-space: nowrap;
    margin-left: 25%;
    
}

.nav-actions b {
    background: #ffc400;
    color: #111;
    border-radius: 50%;
    padding: 3px 6px;
    font-size: 11px
}

.menu {
    height: 46px;
    background: #111a20;
    color: #fff;
    border-top: 1px solid #30383e;
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 0 5%;
    font-size: 13px;
    font-weight: 700
}

.menu a {
    padding: 15px 0
}

.menu .active {
    color: #ffc400;
    border-bottom: 3px solid #ffc400
}

.categories {
    background: none;
    border: 0;
    color: #fff;
    font-weight: 700;
    font-size: 13px
}

.hero {
    height: 320px;
    background: linear-gradient(90deg, rgba(0, 0, 0, .9), rgba(0, 0, 0, .35)), url('https://images.unsplash.com/photo-1504307651254-35680f356dfd?auto=format&fit=crop&w=1800&q=80') center/cover;
    display: flex;
    align-items: center
}

.hero-text {
    margin-left: 7%;
    max-width: 570px;
    color: #fff
}

.hero-text>span {
    color: #ffc400;
    font-weight: 800;
    font-size: 13px
}

.hero h1 {
    font-size: 42px;
    line-height: 1.05;
    margin: 12px 0
}

.hero h1 strong {
    color: #ffc400
}

.hero p {
    line-height: 1.5
}

.hero button,
.product button {
    background: #ffc400;
    border: 0;
    border-radius: 7px;
    padding: 13px 24px;
    font-weight: 800;
    cursor: pointer
}

.section {
    padding: 28px 5%
}

.section h2 {
    margin: 0 0 4px;
    font-size: 25px
}

.section>p {
    margin-top: 0;
    color: #65717c
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 18px;
    margin-top: 20px
}

.categories-grid article {
    background: #f5f7f8;
    border-radius: 9px;
    padding: 28px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: 145px;
    font-size: 36px
}

.categories-grid b {
    font-size: 14px
}

.benefits {
    background: #f5f7f8;
    padding: 24px 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px
}

.benefits div {
    display: grid;
    grid-template-columns: 42px 1fr;
    column-gap: 10px;
    align-items: center;
    border-right: 1px solid #ddd
}

.benefits div:last-child {
    border: 0
}

.benefits small {
    grid-column: 2;
    color: #68737c
}

.section-title {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.section-title>a {
    color: #e4a900;
    font-weight: 700
}

.products {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 14px;
    margin-top: 18px
}

.product {
    border: 1px solid #e1e5e8;
    border-radius: 8px;
    padding: 12px
}

.product-img {
    height: 120px;
    background: #f7f7f7;
    border-radius: 6px;
    display: grid;
    place-items: center;
    font-size: 65px
}

.product h3 {
    font-size: 14px;
    min-height: 35px
}

.product strong {
    display: block;
    margin-bottom: 10px
}

.product button {
    width: 100%;
    font-size: 11px;
    padding: 10px
}

footer {
    background: #111a20;
    color: #fff;
    padding: 30px 5%;
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1fr;
    gap: 30px;
    font-size: 13px
}

.footer-logo {
    font-size: 30px;
    font-weight: 900;
    color: #fff
}

.footer-logo:first-letter {
    color: #ffc400
}

footer p {
    color: #c5ccd1;
    line-height: 1.7
}

@media(max-width:900px) {
    .nav {
        height: auto;
        padding: 15px;
        flex-wrap: wrap;
        gap: 15px
    }

    .logo {
        font-size: 27px
        
    }

    .search {
        order: 3;
        max-width: none;
        flex-basis: 100%
    }

    .menu {
        overflow-x: auto;
        padding: 0 15px;
        gap: 22px;
        white-space: nowrap
    }

    .hero {
        height: 390px
    }

    .hero h1 {
        font-size: 32px
    }

    .categories-grid {
        grid-template-columns: repeat(2, 1fr)
    }

    .benefits {
        grid-template-columns: repeat(2, 1fr)
    }

    .products {
        grid-template-columns: repeat(2, 1fr)
    }

    footer {
        grid-template-columns: 1fr 1fr
    }

    .topbar span:nth-child(2) {
        display: none
    }
}